html, body { margin: 0; }
body {
  background: black;
  overflow-x: hidden;  
}

section {
  margin: 40vh 20%;
  width: 60%;
  color: white;    
}

.col {
  display: flex;
  flex-direction: row;
  gap: 1em;
  margin: 2em 0;
}
.right { text-align: right; }
.center { text-align: center; }

.last {
  margin-bottom: 0;
  display: grid;
  place-items: center;
}
.last > * {
  grid-area: 1 / 1;
}
.last h2 {
  color: black;
}

h1 {
  font-size: 8vh;
  margin: 0;
  opacity: 0;
}
h2 {
  font-size: 6vh;
  margin: 47vh 0;  
  opacity: 0;  
}
p {
  font-size: 3vh;
  margin: 0;
  opacity: 0;  
}

img { 
  opacity: 0;
  margin: 2em 0;
  width: 100%;
}
.col > img {
  max-width: 40%;
  margin: 0;  
}

